/* Geral */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

body {
    background-image: url("../img/IMG_20250715_173329023_HDR.jpg");
    background-position: center;
    background-size: 100% auto;
}

button {
    background-color: #e3f0db;
    color: #0a4c79;
    border: 2px solid #0a4c79;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

button:hover {
    background-color: #0a4c79;
}

button:hover > i {
    color: #fff;
}

button i {
    color: #0a4c79;
    font-weight: bold;
    pointer-events: none;
}